/** Estrutura Responsiva **/



/** Extra small devices (portrait phones, less than 576px)**/
@media (max-width: 475.98px) { 
	span.titulo, span.titulo1 {
		font-size: 1.3em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 1.5em;
		border: 1px solid red;
		transition: font-size 1s;
	}

}

@media (min-width: 475.99px) and (max-width: 575.98px) { 
	span.titulo, span.titulo1 {
		font-size: 2em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 2.3em;
		border: 1px solid red;
		transition: font-size 1s;
	}

}

/** Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) and (max-width: 767.98px) { 
	span.titulo, span.titulo1 {
		font-size: 3em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 3.1em;
		border: 1px solid red;
		transition: font-size 1s;
	}

}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) and (max-width: 991.98px) { 
	span.titulo, span.titulo1 {
		font-size: 4em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 4.2em;
		border: 1px solid red;
		transition: font-size 1s;
	}

	header nav {
	background-color: rgb(255, 255, 255, .5);
	font-size: 0.5em;
	}
}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	span.titulo, span.titulo1 {
		font-size: 6em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 6.5em;
		border: 1px solid red;
		transition: font-size 1s;
	}
}

/** Extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) { 
	span.titulo, span.titulo1 {
		font-size: 7.5em;
	}

	span.titulo:hover, span.titulo1:hover {
		font-size: 7.9em;
		border: 1px solid red;
		transition: font-size 1s;
	}
}

/** Estrutura do Site *//

body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	background-color: #F8FBEF;
}

a {
	text-decoration: none;
}


@font-face {
	font-family: American;
	src: url(../fonts/american.woff);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgb(254,46,46);
}

@keyframes opacidade {
	to {
		opacity: 1;
	}
}

/** Fundos **/

.bann1, .bann2, .bann3, .bann4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bann1 {
	background-image: url(../imagens/canavial1.jpg);
}

.bann2 {
	background-image: url(../imagens/canavial4.png);
}

.bann3 {
	background-image: url(../imagens/canavial6.jpg);
}

.bann4 {
	background-image: url(../imagens/canavial7.jpg);
}

.arredondamento {
	border-radius: 20px;
}

/** Topo **/

body#home header nav ul a.ativo,
body#pagina-produtos header nav ul a.ativo,
body#contato header nav ul a.ativo {
	color: #8A0808;
}

.logo {
	width: 100%;
	opacity: 0;
	animation: opacidade 1.5s;
	animation-fill-mode: both;
}

header {
	opacity: 0;
	animation: opacidade 1s;
	animation-fill-mode: both;
}

header, footer {
	font-family: FreeMono, monospace;
}

header nav  {
	background-color: rgb(255, 255, 255, .9);
	font-size: 1.7em;
	font-weight: 900;
}

header nav li {
	padding: 0 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #8A0808;
    transition: color .5s;

}
.navbar-light .navbar-nav .nav-link {
    color: red;

}


/** Conteudos Principais  **/

#produtos {
	background: url(../imagens/fundo2.png);
}

#produtos h2 {
	font-family: American;
	font-size: 4em;
	text-transform: uppercase;

}

#produtos h3 {
	font-family: Apple Chancery, cursive;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bolder;
	
}

#conteudos p {
	font-family: Apple Chancery, cursive;
	font-size: 1.5em;
}

.tabela {
	border-radius: 10px;
}

thead {
	text-transform: uppercase;
}

button a:hover {
	text-decoration: none;
}

a.banner{
	color: #B43104;
}
a:hover.banner {
	color: darkred;
	text-decoration: none;
}

#conteudos h4 {
	font-family: American;
	font-size: 2em;
}

.titulo, .titulo1 {
	font-size: 5em;
	font-family: American;
	background-color: RGB(242, 242, 242, 0.8);
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #B43104;
}



.titulo:hover, .titulo1:hover {
	font-size: 6em;
	border: 1px solid red;
	transition: font-size 1s;
}



.postagem{
	background-color: rgb(250,250,250, 0.8);
	box-sizing: border-box;
	border-radius: 15px;
} 

.postagem h2 {
	font-family: American;
	font-size: 3.5em;
}

.roxo {
	color: purple;
}

//* Rodape *//

footer nav {
	font-size: 1.4em;
	font-weight: 900;
}












